.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 96px;
  padding: 0 48px;
  background-color: #fdf2e9;
}
.header__logo {
  height: 22px;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}
.header__link {
  font-weight: 500;
  font-size: 18px;
  color: #333;
}
.header__link:hover {
  color: coral;
}

.promo {
  background-color: #fdf2e9;
  padding: 75px 0;
}
.promo__wrapper {
  margin: 0 auto;
  padding: 0 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 9.6rem 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9.6rem;
}
.promo__img-img {
  width: 100%;
}
.promo__title {
  font-size: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #000;
  margin-bottom: 20px;
}
.promo__descr {
  font-size: 19px;
  line-height: 2.1rem;
  margin-bottom: 3rem;
}
.promo__btn {
  display: inline-block;
  background-color: #e67e22;
  color: #fff;
  font-size: 20px;
  padding: 20px 25px;
  border-radius: 15px;
}
.promo__btn:hover {
  color: red;
}
.promo .btn {
  background-color: #fff;
  color: #555;
  margin-left: 15px;
}
.promo .btn:hover {
  color: red;
}
.promo__delevered {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.promo__item-img {
  margin-right: -31px;
}
.promo__item-img img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
.promo__subtext {
  font-size: 18px;
  font-weight: 600;
}
.promo__subtext span {
  color: #e67e22;
}

.page {
  padding: 96px 0;
}
.page__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.page__img::before {
  content: "";
  display: block;
  position: absolute;
  width: 60%;
  padding-bottom: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
  background-color: #fdf2e9;
}
.page__img-item {
  width: 35%;
}
.page__number {
  font-size: 98px;
  font-weight: 700;
  color: #ddd;
  margin-bottom: 12px;
}
.page__tertiaty {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin-bottom: 32px;
}
.page__descr {
  font-size: 18px;
  margin-bottom: 48px;
  color: #333;
}

.featured {
  padding: 48px 32px 0 0;
}
.featured__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 24px;
  color: #888;
}
.featured__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.featured__logos img {
  height: 35px;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  opacity: 50%;
}

.meals {
  padding: 96px 0;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 0.75px;
}

.subtitle {
  font-size: 42px;
  margin-bottom: 95px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

.test {
  max-width: 70rem;
  background-color: red;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}